<div class="container">
  <h1>Java Spring Neural Net Visualization</h1>
  
  <div class="controls">
    <button (click)="startTraining()">Run Training & Generate GIFs</button>
    <p><strong>Status:</strong> {{ status }}</p>
  </div>

  <hr>

  <!-- Loop through 10 images -->
  <div *ngFor="let i of imageIndices" class="img-stack">
      
      <!-- Bottom: The Ground Truth PNG -->
      <img class="backing" 
           [src]="'http://localhost:8080/images/output_' + pad(i) + '.png'" 
           alt="Background">
      
      <!-- Top: The Evolving GIF -->
      <!-- We add ?t=timestamp to force the browser to reload the image after training -->
      <img class="overlay" 
           [src]="'http://localhost:8080/images/evolution_' + pad(i) + '.gif?t=' + timestamp" 
           alt="Overlay">
           
  </div>
  <hr>

    <div *ngFor="let i of imageIndices" class="img-stack">
      
      <!-- Bottom: The Ground Truth PNG -->
      <img class="backing" 
           [src]="'http://localhost:8080/custom/output_' + pad(i) + '.png'" 
           alt="Background">
      
      <!-- Top: The Evolving GIF -->
      <!-- We add ?t=timestamp to force the browser to reload the image after training -->
      <img class="overlay" 
           [src]="'http://localhost:8080/custom/evolution_' + pad(i) + '.gif?t=' + timestamp" 
           alt="Overlay">
           
  </div>
</div>

<hr>
<app-polygon-canvas (onPolygonComplete)="handlePolygonData($event)"></app-polygon-canvas>